MONGODB_URI=mongodb://USERNAME:PASSWORD@ac-1czlcqc-shard-00-00.dn4tsdj.mongodb.net:27017,ac-1czlcqc-shard-00-01.dn4tsdj.mongodb.net:27017,ac-1czlcqc-shard-00-02.dn4tsdj.mongodb.net:27017/travelunbounded?ssl=true&replicaSet=atlas-dk2ydq-shard-0&authSource=admin&appName=Cluster0&compressors=zlib
JWT_SECRET=my-jwt-secret